name: suas-interop-clients CI Build

on:
  push:
  pull_request:
  schedule:
    # Build on the first day of every month to ensure upgrades haven't broken
    # us
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Python ${{ matrix.python }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.6', '3.7', '3.8', 'pypy3']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: python -m pip install pytest .
      - name: Run tests
        run: pytest

  lint:
    runs-on: ubuntu-latest
    name: Lint using ${{ join(matrix.linter.pkg) }}
    strategy:
      matrix:
        linter:
          - pkg: [mypy]
            cmd: mypy interop_clients
          - pkg: [flake8, flake8-bugbear]
            cmd: flake8 interop_clients
          - pkg: [black]
            cmd: black --check interop_clients
          - pkg: [isort]
            cmd: isort --check-only
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: python -m pip install ${{ join(matrix.linter.pkg, ' ') }}
      - name: Run linter
        run: ${{ matrix.linter.cmd }}
